@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Oooh Baby", cursive;
}

@layer base {
  .font-heading {
    font-family: var(--font-heading);
  }
}
